html {
  /* create it so that everything fits into the viewport */
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

}
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h5 {
  color: black !important;
}

html,
body {
background: #f5f6f6;
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );

  color: black !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

label {
  color: rgb(0, 0, 0);
  margin: 5px;
  font-weight: 500;
}


.imgnav {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* STYLING THEMES  */

/* BUTTONS + CARDS */
/* .btn {
  background-color: #242424;
  border: none;
  color: #ffffff;
  box-shadow: 3px 3px 8px #080809, -3px -3px 8px #3a3a3a;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  box-shadow: inset 2px 2px 5px #080809, inset -2px -2px 5px #3a3a3a;
  transform: translateY(2px);
} */

.card-body {
  color: #ffffff;
}

/*  TABLES  */


.imgr {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  /*~~ media queries for datatables  ~~~~~~~~*/
/* 
  @media only screen and (max-width: 991px) {
    .navbar-expand-lg .navbar-collapse {
      background-color: black;
    }

    .dropdown-menu.show:hover {
      color: black;
    }
  } */

  /* #items-table_wrapper,
  .dataTables_wrapper {
    width: 100% !important;
  }

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper
    .dataTables_paginate
    div.dataTables_processing
    > div:last-child
    > div {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  @media (max-width: 480px), (max-width: 450px), (max-width: 414px) {
    .dataTable,
    #items-table {
      font-size: 0.8rem;
      width: 100% !important;
    }

    .dataTable th,
    .dataTable td {
      padding: 4px;
      font-size: 0.8rem;
      width: 100% !important;
    }

    .dataTables_wrapper {
      overflow: auto;
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper
      .dataTables_paginate
      div.dataTables_processing
      > div:last-child
      > div {
      overflow-x: auto !important;
      overflow-y: hidden !important;
      white-space: nowrap;
    }
  }
} 
}
*/
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* Sidebar*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*Navbar*/
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
