<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
      ELAFON TRIDENT
    </title>

    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" media="all" href="/static/css/jquery-jvectormap.css"/>
    <link rel="stylesheet" href="/static/css/chart.css">
    <link rel="stylesheet" href="/static/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/static/assets/css/app.min.css">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/assets/js/app.min.js"></script>
    <script src="/static/js/jquery.dataTables.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <div class="d-flex align-items-center flex-grow-1">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">
          <img src="/static/img/Elafon-Logo.png" class="img-portrait-xs p-1 mr-1" style="width:40px; height: 35px;">Trident
        </a>
        <button class="navbar-toggler d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/return_item">
                  <span data-feather="file"></span>
                  Returns
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/equipment">
                  <span data-feather="shopping-cart"></span>
                  Equipment
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
          </div>

          {% include 'loader.html' %}

          {% block content %}
          {% endblock %}
        </main>
      </div>
    </div>

    <footer class="text-center text-white mt-5 p-3">
      TRIDENT @ ServiceSoftware.io 2023
      <i class="fas fa-copyright    "></i>
    </footer>

    <script>
      // Show the loader when the page starts loading
      document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('loader').style.display = 'block';
      });

      // Hide the loader with fade-out transition after the animation completes
      window.addEventListener('load', function () {
        setTimeout(function () {
          var loaderWrapper = document.getElementById('loader-wrapper');
          loaderWrapper.classList.add('fade-out');
          setTimeout(function () {
            loaderWrapper.style.display = 'none';
          }, 500);
        }, 700);
      });
    </script>
    <script src="/static/dist/js/bootstrap.bundle.js"></script>
  </body>
</html>
