{% extends 'base.html' %}
{% block content %}
  <style>
    html, body {
      color: white !important;
    }
    
    body {
      color: white !important;
    }
    a {
      color: white !important;
    }
    
    h1 {
      color: white !important;
    }

    chartjs-size-monitor {
      color: white; 
    }

    .charjs-render-monitor {
      color: white;
    } 

    #typeChart {
      color: white !important;
    }

  canvas {
    color: white !important;
  } 

  .my-4.w-100.chartjs-render-monitor, .my-4.w-100.chartjs-size-monitor   {
    color: white imporat !important;   
  }

  techChart {
    color: white !important;
  }


  </style>
</head>

<body>
   <main class="grid-l-md-9 ml-sm-auto col-lg-10 px-md-4">
<div class="row justify-content-center align-items-center g-2 text-white">
        <canvas class="my-4 w-100" id="typeChart" width="900" height="380" style="color:white;"></canvas>
        <canvas class="my-4 w-100" id="techChart" width="900" height="380"></canvas>
        <canvas class="my-4 w-100" id="itemChart" width="900" height="380"></canvas>
</div>
 

     
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.bundle.js"></script>  
<script src="../static/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" crossorigin="anonymous"></script>

{% endblock content %}