{% extends 'base.html' %}
{% block content %}

<section class="page-section">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
                <div class="project-post">
                    <div class="page-content">
                        <img src="https://i.ibb.co/SvMZJ2T/Elafon-Logo.png" alt="Elafon Logo" class="raised-sm rounded-10 mb-30">
                        <h4 class="mb-20">Project Description</h4>
                        {% if tech_signouts %}
                        <ul class="list-group">
                            {% for signout in tech_signouts %}
                                {% if signout.item %}
                                    <li class="list-group-item">{{ signout.item.name }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <form action="{{ url_for('return_item') }}" method="post">
                            <div class="form-group">
                                <label class="form-label" for="signout_id">Signout ID:</label>
                                <select id="signout_id" name="signout_id" required class="form-control">
                                    <option value="">Select Item to Return</option>
                                    {% for signout in tech_signouts %}
                                        {% if signout.item %}
                                            <option value="{{ signout.id }}">{{ signout.item.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Return</button>
                            </div>
                        </form>
                        {% else %}
                            <div class="explain"> 
                            <p>No signouts found.</p>
                            </div>
                        {% endif %}
                    </div>
                </div><!-- / page-content -->
            </div><!-- / project-post -->
        </div>
    </div>
</section>

mv


{% include 'loader.html' %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('loader').style.display = 'block';
    });

    window.addEventListener('load', function () {
        var loader = document.getElementById('loader');
        loader.style.transition = 'opacity 0.5s';
        loader.style.opacity = '0';
        setTimeout(function () {
            loader.style.display = 'none';
        }, 1000);
    });
</script>
{% endblock %}

