{% extends 'base.html' %}
{% block content %}
  {% set items_out = signouts|selectattr('returned', 'equalto', false)|list %}
  {% if items_out|length > 0 %}
  <div id="loader" class="loader" style="display:none">Loading...</div>
  <!-- Page Heading -->
  <table class="display responsive nowrap" width="100%">
      <table id="items-table" class="table table-hover">

            <thead> 
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for signout in items_out %}
              <tr>
                <td>{{ signout.technician.name }}</td>
                <td>{{ signout.item.name }}</td>
                <td>{{ signout.item.item_type }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <script>
    (function() {
      $(document).ready(function() {
        var itemsTable = $('#items-table').DataTable({
          language: {
            search: "Filter items:",
            lengthMenu: "Show _MENU_ items per page",
            info: "Showing _START_ to _END_ of _TOTAL_ items",
            infoEmpty: "No items available",
            infoFiltered: "(filtered from _MAX_ total items)",
            paginate: {
              first: "First",
              last: "Last",
              next: "Next",
              previous: "Previous"
            }
          },
          responsive: true,
          processing: true,
          lengthMenu: [5  , 10, 20],
        });
      });
    })();
  </script>
  {% else %}
  <h2 style="color: #000; font-family: Arial, sans-serif; font-size: 24p; color: white;">Welcome, {{ technicianName }}</h2>
  <p style="color: #000; font-family: Arial, sans-serif; font-size: 18px; color: white;">There are no items signed out.</p>
</div>
{% endif %}

{% endblock %}
