{% extends 'base.html' %}
{% block content %}

{{ super() }}

{# Display flash messages #}
<div class="main-wrapper">
       <div class="card shadow-lg">
        <div class="card-body">
            <div class="flash-message">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show rounded" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

            <img class="imgr img-fluid mx-auto d-block p-4" src="https://i.ibb.co/SvMZJ2T/Elafon-Logo.png" alt="">
            {% if tech_signouts %}
                <ul class="list-group list-group-flush">
                    {% for signout in tech_signouts %}
                        {% if signout.item %}
                            <li class="list-group-item">{{ signout.item.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <form action="{{ url_for('return_item') }}" method="post" class="mt-3">
                    <div class="form-group">
                        <label class="label" for="signout_id">Signout ID:</label>
                        <select id="signout_id" name="signout_id" required class="form-select">
                            <option value="">Select Item to Return</option>
                            {% for signout in tech_signouts %}
                                {% if signout.item %}
                                    <option value="{{ signout.id }}">{{ signout.item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block shadow-sm">Return</button>
                    </div>
                </form>
            {% else %}
                <h4 class="card-title text-center">{{ tech.name }}'s profile</h4>
                <p class="card-text text-center">No signouts found</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    window.setTimeout(function(){
        var flashMessages = document.getElementsByClassName("flash-message");
        for (var i = 0; i < flashMessages.length; i++) {
            var flashMessage = flashMessages[i];
            flashMessage.style.visibility = "hidden";
        }
    }, 5000);
</script>

{% include 'loader.html' %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('loader').style.display = 'block';
    });

    window.addEventListener('load', function() {
        var loader = document.getElementById('loader');
        loader.style.transition = 'opacity 0.5s';
        loader.style.opacity = '0';
        setTimeout(function() {
            loader.style.display = 'none';
        }, 1000);
    });
</script>

{% endblock %}
